{% extends 'main/base.html'%}


{% block content %}
{% load static %}
<div class="container padded">
    <div class="card-detail">
        <div class="row">
            <aside class="col-md-5">
                <article class="gallery-wrap">
                    <div class="img-big-wrap">
                        <div> <a href="#"><img src="{% static 'main/images/varzane.jpg'%}"></a></div>
                    </div> <!-- slider-product.// -->
                    <!--<div class="img-small-wrap">-->
                    <!--<div class="item-gallery"> <img src="https://s9.postimg.org/tupxkvfj3/image.jpg"> </div>-->
                    <!--<div class="item-gallery"> <img src="https://s9.postimg.org/tupxkvfj3/image.jpg"> </div>-->
                    <!--<div class="item-gallery"> <img src="https://s9.postimg.org/tupxkvfj3/image.jpg"> </div>-->
                    <!--<div class="item-gallery"> <img src="https://s9.postimg.org/tupxkvfj3/image.jpg"> </div>-->
                    <!--</div> &lt;!&ndash; slider-nav.// &ndash;&gt;-->
                </article> <!-- gallery-wrap .end// -->
            </aside>
            <aside class="col-md-1"></aside>
            <aside class="col-md-6">
                <article class="card-body">
                    <h3 class="title mb-3">اقامتگاه بوم گردی ورزنه</h3>
                    <p class="price-detail-wrap">
	                    <span class="price h3 text-warning">
		                    <span class="currency"></span><span class="num">50 هزار</span>
	                    </span>
                        <span>هر شب</span>
                    </p> <!-- price-detail-wrap .// -->
                    <dl class="param param-feature">
                        <dt>آدرس</dt>
                        <dd><p>اصفهان روستای ورزنه کوچه خالقی اقامتگاه بوم گردی  </p></dd>
                    </dl>
                    <dl class="param param-feature">
                        <dt>متراژ</dt>
                        <dd>اتاق های 20 متری</dd>
                    </dl>  <!-- item-property-hor .// -->
                    <dl class="param param-feature">
                        <dt>تعداد اتاق</dt>
                        <dd>1</dd>
                    </dl>  <!-- item-property-hor .// -->
                    <dl class="param param-feature">
                        <dt>توضیحات</dt>
                        <dd>از معروف ترین خانه های بومی اصفهان، دارای قدمت 200 ساله</dd>
                    </dl>  <!-- item-property-hor .// -->
                    <hr>
                    <a href="#" class="btn btn-lg btn-primary text-uppercase"> اجاره </a>
                </article> <!-- card-body.// -->
            </aside> <!-- col.// -->
        </div> <!-- row.// -->
    </div> <!-- card.// -->
</div>
<!--container.//-->

{% include 'main/comment-box.html'%}


{% endblock content %}