{% extends "main/base.html" %}
{% block content %}


<div class="container vertical-center">
    <div class="row">
        <div class="card-wrapper">
            <div class="card-login fat">
                <div class="card-body">
                    <h4 class="card-title">ورود</h4>
                    <form method="POST">
                        <div class="form-group">
                            <label for="email">آدرس ایمیل</label>

                            <input id="email" type="email" class="form-control" name="email" value="" required autofocus>
                        </div>

                        <div class="form-group">
                            <label for="password">
                                رمز عبور

                                <a href="forgot.html" class="float-left">
                                    رمز عبور خود را فراموش کرده اید؟
                                </a>
                            </label>
                            <input id="password" type="password" class="form-control" name="password" required data-eye>
                        </div>

                        <div class="form-group">
                            <label>
                                <input type="checkbox" name="remember"> مرا به خاطر بسپار
                            </label>

                        </div>

                        <div class="form-group no-margin">
                            <button type="submit" class="btn btn-primary btn-block">
                                ورود
                            </button>
                        </div>
                        <div class="margin-top20 text-center">
                            حساب کاربری ندارید؟ <a href="{% url 'register'%}">ثبت نام</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content%}